.main-sec{
    height: 100%;
    width: 200px;
    border: 1px solid yellow;
    .logo-sec{
     float: left;
     width: 100%;
    }
    img{
        width: 100%;
        height: 300px;
    }
    ul{
        float: left;
        display: flex;
    }
    li{
        float: left;
        padding-right:40px ;
        list-style: none;
        font-size: 25px;
        a:hover{
            color: yellow;
        }
    }

}