.header{
    background: antiquewhite;

}
.digital-transformation{
    .text-wrapper{
        h1{
            color: black;
            .color-1{
                color: #E77E36;
            }
            .color-2{
                background: #493480;

            }            
            
        }
    }
        
    
}